@page "/"

<PageTitle>Главная</PageTitle>

<div class="container d-flex p-0">
	<div class="container fs-3">
		<h2>Музеи современного исскуства</h2>
		<p>Современное ускусство - передовое искусство со времени окончания Второй мировой войны до настоящего. Оно генетически связано с искусством авангарда или модернизма, но представляет собой новый виток изобразительных языков, с акцентом на собственно языковые модели</p>
	</div>
</div>
